In [8]:
#question 2
def function_2(n):
    num = 8
    while n < num: 
        print (n) 
        n = n**2 
        print(n)
    else: 
        print("greater than", num)
        
function_2 (3)

3
9
greater than 8

In [179]:
#question 2
function_2 (10)

greater than 8

In [160]:
#question 5
import math
def function_5A(v1, v2): 
    return sum(range(v1, v2)) / len(range(v1, v2))
    
function_5A(1, 100)

50.0

In [154]:
#question 5
def function_5B(v1, v2):
    return sum(range(v1, v2))

function_5B(1, 100)

4950

In [162]:
#question 5
import statistics as stats
def function_5C (v1, v2):
    return stats.pstdev(range(v1, v2))

function_5C(1, 100)

28.577380332470412

In [50]:
#question 6
def minimal(v1, v2, v3, v4):
    return min(v1, v2, v3, v4)
    
minimal(6, 8, 9, 5)

5

In [139]:
#question 1 
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [224]:
#question 1a
def grades(name):
    for name, score in marks.items():
        return score
    else: 
        print("cannot find students name")
    
grades('Steve')

88

In [223]:
#question 1b
def average1(scores):
    return sum(scores)/len(scores)

average1(marks.values())

75.2

In [95]:
#question 3

def sums(num):
    while range(1, num):
        return sum(range(1, num))
    
    
sums(5)

10

In [177]:
#question 4
def function4(v1, v2):
    for n in range(v1, v2):
        return sum(range(v1, v2))
        
function4(1, 8)

28

In [215]:
#question 7

def concat(name, number):
    for i in range(concatenated_list):
        return(f' {i}: {concatenated_list}')

concat('Olivia', 24)

NameError: name 'concatenated_list' is not defined